# the values must not be initiated with '!!'
APP_NAME=BOS-Website
APP_ADDRESS=http://localhost:4000
PORT=4000

# use this if you want to connect to heroku (or other) databases
#DB_USE=heroku
DB_NAME_HEROKU=heroku_ss5zxvwl
DB_URI_HEROKU=ds215563.mlab.com:15563
DB_USERNAME_HEROKU=heroku_ss5zxvwl
DB_PASSWORD_HEROKU=lcrl64cde0bu1g328m64mb50or

DB_NAME=bos_website
DB_URI=127.0.0.1:27017

DB_NAME_TEST=bos_website_test
DB_URI_TEST=127.0.0.1:27017

EMAIL_USERNAME=postmaster@mg.bentoak.systems
EMAIL_PASSWORD=9ac5e5a1c799dace810f36d143989c0d
EMAIL_USERNAME_DEV=no-reply@mail.quran.parts
EMAIL_PASSWORD_DEV=2e$e2ha#wed$uQuRe_5p