# the values must not be initiated with '!!'
APP_NAME=BOS-Website
APP_ADDRESS=http://localhost:4000
PORT=4000

# use this if you want to connect to heroku (or other) databases
#DB_USE=heroku
DB_NAME_HEROKU=
DB_URI_HEROKU=
DB_USERNAME_HEROKU=
DB_PASSWORD_HEROKU=

DB_NAME=bos_website
DB_URI=127.0.0.1:27017

DB_NAME_TEST=bos_website_test
DB_URI_TEST=127.0.0.1:27017

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_USERNAME_DEV=
EMAIL_PASSWORD_DEV=