extends layout

block content
    h1=title
    ul
     each ab in about
        if ab.title
            h2= ab.title
            img(src='/'+ab.background)(alt="top image")(style="width: 150px; height: 150px")
            br
            description!=ab.description
     hr/
