extends layout

block content
        h1=title
        div
            ul
            each p in pricing
                li(style="font-weight: bold")=p.title
                div(style="margin-left: 20px")
                    description=p.description1
                    br/
                    description=p.description2
                    br/
            br/
